.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20vh 60vh 10vh;
  grid-gap: 20px;
}

.grid div {
height: 200px;
}

header {
  background-color: red;
  grid-column-start: 1;
  grid-column-end: 3;
}

main {
  background-color: blue;
  grid-column-start: 1;
  grid-column-end: 2;
}

aside {
  background-color: green;
  grid-column-start: 2;
  grid-column-end: 3;
}

footer {
  background-color: rgb(83, 83, 73);
  grid-column-start: 1;
  grid-column-end: 3;
}
