html {
  scroll-behavior: smooth;
}

div {
  scroll-behavior: smooth;
  height: 100vh
}

#one {
  background-color: bisque;
}

#two {
  background-color: brown;
}

#three {
  background-color: #98487f
}

body {
  margin: 0;
}