/* GRADIENT: */

body {
  margin: 0px;
  padding: 0;
}
.grad {
animation: gradient 10s ease infinite;
width: 100vh;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(-45deg,rgb(51, 58, 156),rgba(0, 0, 0, 0.6), #c2bbbb);
background-size: 200% 200%;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}





/* ARROW: */

@keyframes bouncing {
  to {
    transform: translateY(30px)
  }
}

.arrow {
  animation: bouncing 1s ease infinite alternate;
}

.arrow-shaft {
  width: 20px;
  height: 80px;
  background: black;
  margin-left: 40px;
}

.arrow-head {
  width: 0;
  height: 0;
  border-top: 50px solid black;
  border-bottom: 50px solid transparent;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent
}




/* TEXT REVEAL: */

.text-reveal {
  width: 100vw;
  height: 300px;
  display: grid;
  place-items: center;
}

.block {
  width: 40vw;
  height: 200px;
  background-color: blue;
  animation: move 3s both linear;
}

.text {
  position: absolute;
  opacity: 0;
  animation: fade 1s linear 1s forwards;
}

@keyframes move {
  from {
    transform: translateX(-100%)
  }

  to {
    transform: translateX(100vw)
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}




/* TITLE SHOW: */

.titulo {
  display: grid;
  place-items: center;
  height: 100vh
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  margin: 5px;
  opacity: 0;
}

.effect1 {
  animation: 1.5s show forwards;
}

.effect2 {
  animation: 1.5s show 500ms forwards;
}


@keyframes show {
  from {
    opacity: 0;
    transform: translateY(30px)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

/* LOADER: */

.loader {
  width: 5rem;
  height: 5rem;
  border: 0.5rem solid rgb(78, 75, 75);
  border-top-color: blueviolet;
  border-radius: 50%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.loader-wrapper {
  display: grid;
  place-items: center;
  margin-bottom: 10vh;
}