.grad {
animation: gradient 10s ease infinite;
width: 100vh;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(-45deg,rgb(51, 58, 156),rgba(0, 0, 0, 0.6), #c2bbbb);
background-size: 200% 200%;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}